body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 40px;
    margin-right: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #9a9a9a;
    font-weight: bold;
}

.auth {
    display: flex;
    align-items: center;
}

.auth button {
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

.auth button:first-child {
    background-color: white;
    color: #9a9a9a;
    border: 1px solid black;
}

.auth button:last-child {
    background-color: blue;
    color: white;
}

.auth button:hover {
    background-color: #0056b3;
}

.main-container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: white;
    padding: 20px;
    font-size: 8px;
}

.sidebar-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 14px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: dodgerblue;
    text-decoration: none;
    font-size: 16px;
}

section {
    padding: 100px 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.compare {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.broker {
    text-align: center;
    border: 2px solid lightgrey;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
}

.versus {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.broker h2 {
    font-size: 1.5em;
    margin-top: 0;
}

.broker .rating {
    font-size: 24px;
    margin: 10px 0;
}

.broker button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.broker button:hover {
    background-color: #0056b3;
}

.data {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 20px 0;
}

.data h3 {
    font-size: 1.2em;
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color: #007bff;
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
}

canvas {
    border: 1px solid #ddd;
}

#chartgraph-container {
    max-width: 70%;
    max-height: 60%;
    position: relative;
}

#chart-label {
    text-align: center;
    font-size: 1.2em;
    margin-top: -50px;
    margin-right: 260px;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

#hold-label {
    text-align: center;
    font-size: 1.2em;
    margin-top: -50px;
    margin-right: 250px;
}

#chart-container {
    margin-bottom: 20px;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-box {
    width: 80%;
}

.value-box {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.value-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.green-button {
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.green-button:hover {
    background-color: darkgreen;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1.5em;
    width: 100px;
    height: 80px;
    position: relative;
}

.box-green {
    background: linear-gradient(145deg, #81F1DD 25%, #F7FEFD 100%);
    order: 1;
}

.box-blue {
    background: linear-gradient(145deg, #3FA2FF 50%, #F3FAFF 100%);
    order: 3;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    position: absolute;
    top: -25px;
    background-color: white;
}

.label {
    font-size: 1em;
    margin: 0 40px;
    white-space: nowrap;
    order: 2;
}

.row > .box-green {
    margin-left: -10px;
}

#chartContainer {
    width: 800px;
    height: 400px;
}

#pros-cons {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    justify-content: center;
}

#pros-cons th, #pros-cons td {
    padding: 12px;
    border: 1px solid #ddd;
}

#pros-cons thead th {
    background-color: #f2e5e5;
    color: #333;
}

.text-icon {
    width: 12px;
    vertical-align: middle;
    margin-right: 2px;
}

h6 {
    margin-bottom: 20px;
}

.ratings-wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.rating-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.rating-details {
    margin-top: 20px;
}

.rating-details div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.stars {
    color: gold;
}

.open-account {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.open-account:hover {
    background-color: #0056b3;
}

h6 {
    text-align: left;
    font-size: 19px;
}

h2 {
    margin: 5px 0;
}

.pros-logo {
    width: 30px;
    position: absolute;
    margin-left: 223px;
}

.rating-container .stars {
    color: #f5a623;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.rating-container .overall-rating {
    font-size: 2em;
    margin: 8px 0;
}

.rating-container .rating-details {
    text-align: left;
    margin-left: 200px;
    margin: 10px 0;
}

.rating-container .rating-details div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.rating-container .rating-details .stars {
    color: #f5a623;
}

.rating-container .open-account {
    display: inline-block;
    background-color: #00bfa5;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
}

/* Mobile View */
@media (max-width: 768px) {
    header, .main-container, .compare, .broker, .data, #chartgraph-container, .chart-box, .value-box, .box {
        width: 100%;
        max-width: 360px;
    }
}

/* Desktop View */
@media (min-width: 769px) {
    header, .main-container, .compare, .broker, .data, #chartgraph-container, .chart-box, .value-box, .box {
        width: 100%;
        max-width: 1920px;
    }
}
